.brand vyötiäinen

%ul.nav.pull-right
  %li= link_to "home", root_path
  %li= link_to "sign in", signin_path
  - if signed_in?
    %li= link_to "Profile", current_user
    %li= link_to "log out", signout_path, method: "delete"
